@import url("https://fonts.googleapis.com/css?family=Open+Sans|Philosopher:400,700&display=swap");
html {
  max-height: 100vh;
  --display-font:'Philosopher', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --primary-dark: #540c3f;
  --primary: #68013F;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-background {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-info {
  margin-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.section-info h1 {
  font-family: var(--display-font);
  color: var(--primary-dark);
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.section-info p {
  color: var(--primary);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

.background-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.button {
  font-family: var(--body-font);
  display: block;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  word-break: keep-all;
  margin: 0px auto;
  overflow: hidden;
}

.button a {
  color: inherit !important;
  text-decoration: none !important;
}

.button-portfolio {
  color: white;
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  padding: 0 25px;
  background-color: #540c3f;
}

.button-portfolio:hover {
  background-color: #68013f;
  opacity: .8;
}

.icons-row {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  background: rgba(104, 1, 63, 0.1);
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 38px;
  border-radius: 19px;
  font-family: var(--body-font);
  margin: 0 .2em;
  background-repeat: no-repeat;
  background-position: center;
}

.icon:hover {
  background: rgba(104, 1, 63, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.linkedin {
  background-image: url("../assets/linkedin-purple.svg");
}

.linkedin:hover {
  background-image: url("../assets/linkedin-white.svg");
}

.github {
  background-image: url("../assets/github-purple.svg");
  background-size: 50%;
}

.github:hover {
  background-image: url("../assets/github-white.svg");
  background-size: 50%;
}

@media only screen and (max-width: 980px) {
  .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page .background-image {
    height: 50vh;
    -o-object-position: 50% 70%;
       object-position: 50% 70%;
  }
}

@media only screen and (max-width: 540px) {
  .section-info h1 {
    padding: 0 20px;
    font-size: 30px;
    line-height: 24px;
  }
  .section-info p {
    font-size: 14px;
  }
  .button {
    font-size: 12px;
  }
}
/*# sourceMappingURL=index.css.map */