@import url('https://fonts.googleapis.com/css?family=Open+Sans|Philosopher:400,700&display=swap');

html {
  max-height: 100vh;
  --display-font:'Philosopher', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --primary-dark: #540c3f;
  --primary: #68013F;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;
  display: flex;
}

.section-background {
  flex: 1;
}

.section-info {
  margin-top: 50px;
  padding-bottom: 50px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;

  h1 {
    font-family: var(--display-font);
    color: var(--primary-dark);
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    color: var(--primary);
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
  }
}

.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block; // prevents scroll
}

.button {
  font-family: var(--body-font);
  
  display: block;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  word-break: keep-all;
  margin: 0px auto;
  overflow: hidden;

  a {
    color: inherit !important;
    text-decoration: none !important;
  }
}

.button-portfolio {
  color: white;
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  padding: 0 25px;
  background-color: rgb(84, 12, 63);


  &:hover {
    background-color: rgb(104, 1, 63);
    opacity: .8;
  }
}

.icons-row {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.icon {
  background: rgba(104, 1, 63, 0.1);
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 38px;
  border-radius: 19px;
  font-family: var(--body-font);
  margin: 0 .2em;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background: rgba(104, 1, 63, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.linkedin {
  background-image: url('../assets/linkedin-purple.svg');

  &:hover {
    background-image: url('../assets/linkedin-white.svg');
  }
}

.github {
  background-image: url('../assets/github-purple.svg');
  background-size: 50%;

  &:hover {
    background-image: url('../assets/github-white.svg');
    background-size: 50%;
  }
}

@media only screen and (max-width: 980px) {
  .page {
    flex-direction: column;

    .background-image {
      height: 50vh;
      object-position: 50% 70%;
    }
  }
}


@media only screen and (max-width: 540px) {
  .section-info {
    h1 {
      padding: 0 20px;
      font-size: 30px;
      line-height: 24px;
     }
    p { font-size: 14px; }
  }

  .button {
    font-size: 12px;
  }
}